@model Warehouse

<tr>
    <td class="d-flex flex-column">
        <a href="/Warehouses/Details/@Model.WarehouseId" class="text-primary fw-bolder mb-1">@Model.Name</a>
    </td>
    <td>@Model.Location</td>
    <td>
        <span class="badge badge-light-@(Model.IsDeleted ? "danger" : "success") js-status">
            @(Model.IsDeleted ? "Deleted" : "Available")
        </span>
    </td>
    <td>@Model.CreatedOn</td>
    <td class="js-updated-on">@Model.LastUpdatedOn</td>
    <td>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style=" color: white; border: none; border-radius: 5px; padding: 10px;">
                <i class="fa-solid fa-cog"></i>
                <span class="caret" style="color: black;"></span>
            </button>

            <ul class="dropdown-menu" style="border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <li>
                    <a class="btn btn-sm btn-outline btn-outline-dashed btn-active-light-primary js-render-modal"
                       href="javascript:;"
                       data-title="Edit Warehouse"
                       data-url="/Warehouses/Edit/@Model.WarehouseId" data-update="true"
                       style="transition: background-color 0.3s; padding: 8px 12px; display: block; text-align: center; border-radius: 5px;">
                        Edit
                    </a>
                </li>
                <li>
                    <a class="dropdown-item js-toggle-status btn btn-sm btn-outline btn-outline-dashed btn-active-light-primary"
                       href="javascript:;" data-url="/Warehouses/ChangeStatus/@Model.WarehouseId" style="padding: 10px;">
                        Toggle Status
                    </a>
                </li>
            </ul>
        </div>
    </td>
</tr>